Repository WorldDbs/rust-fil-proofs, changes with the owners that CODEOWNERS names for each.
All owners: @porcuquine, @dignifiedquire, @laser

+Birmingham, +outside of
  filecoin-proofs/src/api/sector_builder/kv_store/fs.rs
  storage-proofs/benches/preprocessing.rs
  storage-proofs/src/circuit/bench/mod.rs
Owners: @porcuquine, @dignifiedquire, @laser

Added info about XML files to modify
  filecoin-proofs/examples/drgporep-vanilla-disk.rs
  filecoin-proofs/examples/zigzag.rs
  rust-toolchain
Owners: @porcuquine, @dignifiedquire, @laser

Despublica 'consultar-informacoes-de-multas-dnit'
  scripts/publish-release.sh
Owners: @porcuquine, @dignifiedquire

6a25e602-2e40-11e5-9284-b827eb9e62be
  ffi-toolkit/Cargo.toml
Owners: @laser

removed savvy from requirements file
  storage-proofs/src/circuit/beacon_post.rs
Owners: @porcuquine, @dignifiedquire

button name
  storage-proofs/src/hasher/digest.rs
Owners: @porcuquine, @dignifiedquire

Merge "Update the 4th and 5th block storage examples (1)"
  README.md
  storage-proofs/benches/sha256.rs
Owners: @porcuquine, @dignifiedquire

Replaced name in line 75 with *
  filecoin-proofs/src/api/internal.rs
  filecoin-proofs/src/api/sector_builder/state.rs
Owners: @porcuquine, @dignifiedquire, @laser

Creating llvmgcc42-2335.9 tag.
  filecoin-proofs/examples/encoding.rs
  src/bin/bencher.rs
  src/lib.rs
Owners: @porcuquine, @dignifiedquire, @laser

Merge "Add android.support.v13.view.DragStartHelper"
  filecoin-proofs/src/api/sector_builder/helpers/add_piece.rs
  storage-proofs/benches/pedersen.rs
Owners: @porcuquine, @dignifiedquire, @laser

Delete EXAMPLE_detailed_geoip2.py
  .gitignore
  storage-proofs/src/circuit/xor.rs
  storage-proofs/src/crypto/sloth.rs
Owners: @porcuquine, @dignifiedquire

[IMP] mail: composition form: removed default body_html;
  storage-proofs/src/challenge_derivation.rs
Owners: @porcuquine, @dignifiedquire

[REMOVE]: mx.Date from trunk
  filecoin-proofs/README.md
  filecoin-proofs/src/api/sector_builder/errors.rs
Owners: @porcuquine, @dignifiedquire, @laser

github: Fix toolchain extraction
  bench.config.toml
  storage-proofs/src/layered_drgporep.rs
Owners: @porcuquine, @dignifiedquire

Added invalid CHECKLOCKTIMEVERIFY test
  filecoin-proofs/examples/ffi/main.rs
  storage-backend/README.md
  storage-proofs/src/circuit/por.rs
  storage-proofs/src/proof.rs
Owners: @porcuquine, @dignifiedquire, @laser

rev 477935
  Cargo.toml
  filecoin-proofs/build.rs
Owners: @porcuquine, @dignifiedquire, @laser

Add dircolors.256dark.
  storage-proofs/benches/blake2s.rs
  storage-proofs/src/circuit/porc.rs
  storage-proofs/src/vdf.rs
Owners: @porcuquine, @dignifiedquire

typo in message bundle
  storage-proofs/src/porep.rs
Owners: @porcuquine, @dignifiedquire

ZStartT3kA1PSz00o5HGj34kaHjcEFHc
  sector-base/src/lib.rs
  storage-proofs/src/circuit/multi_proof.rs
Owners: @porcuquine, @laser, @dignifiedquire

Rename Mural.html to mural.html
  storage-proofs/src/circuit/vdf_post.rs
Owners: @porcuquine, @dignifiedquire

changed debugging to be sent to mvkrenz
  storage-backend/.gitignore
  storage-proofs/src/crypto/pedersen.rs
Owners: @porcuquine, @dignifiedquire

Update novaInstallHelper.sh
  sector-base/src/api/errors.rs
  storage-backend/src/lib.rs
  storage-proofs/Cargo.toml
  storage-proofs/src/porc.rs
Owners: @porcuquine, @laser, @dignifiedquire

Add mouse ortholog link to MGI test
  storage-proofs/src/crypto/mod.rs
Owners: @porcuquine, @dignifiedquire

ajout materiaux sorts
  storage-proofs/src/crypto/kdf.rs
  storage-proofs/src/merkle.rs
Owners: @porcuquine, @dignifiedquire

Update query-prepared-template.markdown
  ffi-toolkit/LICENSE-APACHE
  filecoin-proofs/src/api/responses.rs
  sector-base/src/api/disk_backed_storage.rs
  storage-proofs/src/lib.rs
Owners: @laser, @porcuquine, @dignifiedquire

changes in standard html heading tags
  filecoin-proofs/examples/merklepor.rs
  storage-proofs/src/piece_inclusion_proof.rs
Owners: @porcuquine, @dignifiedquire, @laser

clarify purpose of gem
  filecoin-proofs/src/api/sector_builder/helpers/get_sectors_ready_for_sealing.rs
  filecoin-proofs/src/api/sector_builder/metadata.rs
Owners: @porcuquine, @dignifiedquire, @laser

Remove an invalid section from LLILUM.sln
  Dockerfile-ci
  storage-proofs/src/circuit/drgporep.rs
Owners: @porcuquine, @dignifiedquire

fixed the broken home button (someone renamed #page-field to #page)
  sector-base/LICENSE-MIT
  storage-proofs/src/circuit/pedersen.rs
Owners: @porcuquine, @laser, @dignifiedquire

Move user search in push controller
  storage-proofs/src/batchpost.rs
  storage-proofs/src/circuit/ppor/mod.rs
  storage-proofs/src/drgporep.rs
Owners: @porcuquine, @dignifiedquire

Update Default - Raynor.html
  filecoin-proofs/src/api/sector_builder/helpers/seal.rs
  storage-proofs/src/crypto/blake2s.rs
  storage-proofs/src/hasher/blake2s.rs
Owners: @porcuquine, @dignifiedquire, @laser

Binary Gap - JAVA
  filecoin-proofs/src/api/sector_builder/helpers/retrieve_piece.rs
Owners: @porcuquine, @dignifiedquire, @laser

fd0229c7-2e9c-11e5-a3c4-a45e60cdfd11
  filecoin-proofs/examples/ffi/.gitignore
  filecoin-proofs/src/api/sector_builder/helpers/snapshots.rs
Owners: @porcuquine, @dignifiedquire, @laser

Delete Lab-1-b.png
  filecoin-proofs/src/api/sector_builder/kv_store/mod.rs
  filecoin-proofs/src/api/sector_builder/scheduler.rs
  filecoin-proofs/src/lib.rs
  storage-proofs/src/crypto/aes.rs
Owners: @porcuquine, @dignifiedquire, @laser

Further correction of the comment
  filecoin-proofs/src/api/sector_builder/helpers/get_seal_status.rs
  filecoin-proofs/src/api/sector_builder/mod.rs
  storage-proofs/benches/drgraph.rs
  storage-proofs/src/compound_proof.rs
Owners: @porcuquine, @dignifiedquire, @laser

First uploads
  ffi-toolkit/src/lib.rs
  sector-base/.gitignore
Owners: @laser, @porcuquine

Firecamp link added
  storage-backend/LICENSE-APACHE
Owners: @porcuquine, @dignifiedquire

Spelling: 2x ... → …
  storage-proofs/src/hasher/pedersen.rs
Owners: @porcuquine, @dignifiedquire

added readmefile
  storage-proofs/src/drgraph.rs
  storage-proofs/src/util.rs
Owners: @porcuquine, @dignifiedquire

Fix LINE 56
  filecoin-proofs/src/error.rs
Owners: @porcuquine, @dignifiedquire, @laser

CODEOWNERS:

# Global Owners
* @porcuquine @dignifiedquire

/storage-proofs/        @porcuquine @dignifiedquire
/filecoin-proofs/       @porcuquine @dignifiedquire @laser
/ffi-toolkit/           @laser
/sector-base/           @porcuquine @laser
/storage-backend/       @porcuquine @dignifiedquire
